# Goal of the notebook

Here we will apply Black-Scholes formula and Linear Regression as our benchmark and our baseline, respectively. Moreover, we will see that it is unfair to use implied volatility as a feature, as it is calculated either by using Black-Scholes model or a model very similar to it. As a result, we will stick with our own version of volatility.

We will fix the results obtained in this section. Therefore, we will be able to figure out, whether additional features and more advanced models will be helpful in the future.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [2]:
# https://quantpy.com.au/black-scholes-model/implementing-black-scholes-option-pricing/
def blackScholes(r, S, K, T, sigma, type="c"):
    "Calculate BS price of call/put"
    d1 = (np.log(S/K) + (r + sigma**2/2)*T)/(sigma*np.sqrt(T))
    d2 = d1 - sigma*np.sqrt(T)
    if type == "c":
        price = S*norm.cdf(d1, 0, 1) - K*np.exp(-r*T)*norm.cdf(d2, 0, 1)
    elif type == "p":
        price = K*np.exp(-r*T)*norm.cdf(-d2, 0, 1) - S*norm.cdf(-d1, 0, 1)
    return price

In [3]:
dataset_full = pd.read_csv('4_Filtered_data_02_05.csv')
dataset_full

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (3,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Contract Name,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility,Company,Date_get_data,Date_expiration,Time_to_maturity,r,Stock_price,Stock_volume
0,AAPL240301C00095000,95.0,93.48,87.2,87.95,0.00,-,-,1,1.5879,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0
1,AAPL240301C00100000,100.0,88.30,82.2,82.75,0.00,-,2,3,1.3789,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0
2,AAPL240301C00110000,110.0,84.86,72.25,72.75,0.00,-,-,4,1.2031,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0
3,AAPL240301C00135000,135.0,52.40,47.3,47.85,0.00,-,1,1,0.8027,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0
4,AAPL240301C00140000,140.0,44.95,42.3,42.85,0.00,-,4,21,0.7188,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167986,INTC261218C00050000,50.0,5.70,5.55,5.8,-0.80,-12.31%,42,1420,0.4266,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0
1167987,INTC261218C00055000,55.0,4.80,4.7,4.8,-0.60,-11.11%,73,31727,0.4229,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0
1167988,INTC261218C00060000,60.0,3.95,3.8,4.05,-0.57,-12.61%,68,2618,0.4229,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0
1167989,INTC261218C00065000,65.0,3.30,2.52,3.35,-0.47,-12.47%,22,304,0.4189,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0
1167990,INTC261218C00070000,70.0,2.75,2.72,2.8,-0.35,-11.29%,169,2398,0.4166,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0

In [4]:
%%time
dataset_full['Black_Scholes'] = 0
for i in range(len(dataset_full)):
    dataset_full['Black_Scholes'][i] = blackScholes(r=0.04, S=dataset_full['Stock_price'][i],
                                                   K=dataset_full['Strike'][i], 
                                                    T=dataset_full['Time_to_maturity'][i],
                                                   sigma=dataset_full['Implied Volatility'][i])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.

CPU times: user 3min 35s, sys: 1.02 s, total: 3min 36s
Wall time: 3min 36s

In [5]:
dataset_full.isna().sum()

Contract Name         0
Strike                0
Last Price            0
Bid                   0
Ask                   0
Change                0
% Change              0
Volume                0
Open Interest         0
Implied Volatility    0
Company               0
Date_get_data         0
Date_expiration       0
Time_to_maturity      0
r                     0
Stock_price           0
Stock_volume          0
Black_Scholes         0
dtype: int64

In [6]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

In [7]:
MSE_Black_Scholes = mean_squared_error(dataset_full['Last Price'], dataset_full['Black_Scholes'])
MAE_Black_Scholes = mean_absolute_error(dataset_full['Last Price'], dataset_full['Black_Scholes'])
MAPE_Black_Scholes = mean_absolute_percentage_error(dataset_full['Last Price'], dataset_full['Black_Scholes'])

In [8]:
# We will see later that this quality is very good compared to Linear Regression 
# and Black-Scholes on another volatility

MSE_Black_Scholes, MAE_Black_Scholes, MAPE_Black_Scholes

(4680.7717917572145, 17.661235600274306, 0.3347803641048493)

In [9]:
dataset_full.head()

,Contract Name,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility,Company,Date_get_data,Date_expiration,Time_to_maturity,r,Stock_price,Stock_volume,Black_Scholes
0,AAPL240301C00095000,95.0,93.48,87.2,87.95,0.0,-,-,1,1.5879,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,87
1,AAPL240301C00100000,100.0,88.30,82.2,82.75,0.0,-,2,3,1.3789,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,82
2,AAPL240301C00110000,110.0,84.86,72.25,72.75,0.0,-,-,4,1.2031,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,72
3,AAPL240301C00135000,135.0,52.40,47.3,47.85,0.0,-,1,1,0.8027,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,47
4,AAPL240301C00140000,140.0,44.95,42.3,42.85,0.0,-,4,21,0.7188,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,42

### Linear Regression (only features used in Black-Scholes)

In [10]:
X = dataset_full[['Stock_price', 'Strike', 'Time_to_maturity', 'Implied Volatility']]
y = dataset_full[['Last Price']]

In [11]:
import statsmodels.api as sm

In [12]:
%%time
X_constant = sm.add_constant(X)
lin_reg = sm.OLS(y, X_constant).fit()
lin_reg.summary()

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:130: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

CPU times: user 1.37 s, sys: 1.43 s, total: 2.8 s
Wall time: 530 ms

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Last Price   R-squared:                       0.462
Model:                            OLS   Adj. R-squared:                  0.462
Method:                 Least Squares   F-statistic:                 2.507e+05
Date:                Thu, 09 May 2024   Prob (F-statistic):               0.00
Time:                        23:38:58   Log-Likelihood:            -7.1606e+06
No. Observations:             1167991   AIC:                         1.432e+07
Df Residuals:                 1167986   BIC:                         1.432e+07
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -34.3367      0.210   -163.465      0.000     -34.748     -33.925
Stock_price            0.3857      0.000    891.696      0.000       0.385       0.387
Strike                -0.1992      0.000   -572.033      0.000      -0.200      -0.199
Time_to_maturity      39.2142      0.153    256.646      0.000      38.915      39.514
Implied Volatility    40.5130      0.135    299.213      0.000      40.248      40.778
==============================================================================
Omnibus:                  1188238.805   Durbin-Watson:                   0.189
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        121707577.103
Skew:                           4.889   Prob(JB):                         0.00
Kurtosis:                      52.043   Cond. No.                     1.83e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.83e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
%%time
model = LinearRegression()
model.fit(X, y)
y_pred = model.predict(X)

CPU times: user 859 ms, sys: 793 ms, total: 1.65 s
Wall time: 286 ms

In [15]:
MSE_linreg_resticted = mean_squared_error(y, y_pred)
MAE_linreg_resticted = mean_absolute_error(y, y_pred)
MAPE_linreg_resticted = mean_absolute_percentage_error(y, y_pred)

In [16]:
MSE_Black_Scholes, MAE_Black_Scholes, MAPE_Black_Scholes

(4680.7717917572145, 17.661235600274306, 0.3347803641048493)

In [17]:
# We see that quality of this model is dramatically worse
MSE_linreg_resticted, MAE_linreg_resticted, MAPE_linreg_resticted

(12376.595065173386, 57.50104432815472, 88.73263613336022)

### Create our own volatility instead of implied (using stock data)

In [18]:
volatilities_contract = pd.DataFrame(dataset_full.groupby('Contract Name')['Last Price'].std())
volatilities_contract = volatilities_contract.reset_index()
volatilities_contract.columns = ['Contract Name', 'Option_price_volatility']
volatilities_contract

             Contract Name  Option_price_volatility
0      AAPL240301C00095000                 3.645180
1      AAPL240301C00100000                 3.584132
2      AAPL240301C00110000                 0.000000
3      AAPL240301C00135000                 2.590360
4      AAPL240301C00140000                 1.725268
...                    ...                      ...
37218   WMT260116C00220000                 0.572542
37219   WMT260116C00230000                 0.195880
37220   WMT260116C00240000                 0.223652
37221   WMT260116C00250000                 0.106689
37222   WMT260116C00260000                 0.026667

[37223 rows x 2 columns]

In [19]:
dataset_full['Contract Name'].nunique()

37223

In [20]:
dataset_full_1 = dataset_full.copy()
dataset_full_1 = dataset_full_1.drop('Implied Volatility', axis=1)
dataset_full_1

,Contract Name,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Company,Date_get_data,Date_expiration,Time_to_maturity,r,Stock_price,Stock_volume,Black_Scholes
0,AAPL240301C00095000,95.0,93.48,87.2,87.95,0.00,-,-,1,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,87
1,AAPL240301C00100000,100.0,88.30,82.2,82.75,0.00,-,2,3,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,82
2,AAPL240301C00110000,110.0,84.86,72.25,72.75,0.00,-,-,4,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,72
3,AAPL240301C00135000,135.0,52.40,47.3,47.85,0.00,-,1,1,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,47
4,AAPL240301C00140000,140.0,44.95,42.3,42.85,0.00,-,4,21,AAPL,2024-02-16,2024-03-01,0.038356,0.04,182.309998,49701400.0,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167986,INTC261218C00050000,50.0,5.70,5.55,5.8,-0.80,-12.31%,42,1420,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0,6
1167987,INTC261218C00055000,55.0,4.80,4.7,4.8,-0.60,-11.11%,73,31727,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0,5
1167988,INTC261218C00060000,60.0,3.95,3.8,4.05,-0.57,-12.61%,68,2618,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0,5
1167989,INTC261218C00065000,65.0,3.30,2.52,3.35,-0.47,-12.47%,22,304,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0,4
1167990,INTC261218C00070000,70.0,2.75,2.72,2.8,-0.35,-11.29%,169,2398,INTC,2024-04-12,2026-12-18,2.684932,0.04,35.689999,80139400.0,3

In [21]:
dataset_full_1 = dataset_full_1.merge(volatilities_contract, on='Contract Name', how='inner')
dataset_full_1.isnull().sum()

Contract Name              0
Strike                     0
Last Price                 0
Bid                        0
Ask                        0
Change                     0
% Change                   0
Volume                     0
Open Interest              0
Company                    0
Date_get_data              0
Date_expiration            0
Time_to_maturity           0
r                          0
Stock_price                0
Stock_volume               0
Black_Scholes              0
Option_price_volatility    0
dtype: int64

In [22]:
dataset_full_1['Black_Scholes'] = 0
for i in range(len(dataset_full_1)):
    dataset_full_1['Black_Scholes'][i] = blackScholes(r=0.04, S=dataset_full_1['Stock_price'][i],
                                                   K=dataset_full_1['Strike'][i], 
                                                    T=dataset_full_1['Time_to_maturity'][i],
                                                   sigma=dataset_full_1['Option_price_volatility'][i])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.

In [23]:
MSE_Black_Scholes_1 = mean_squared_error(dataset_full_1['Last Price'], dataset_full_1['Black_Scholes'])
MAE_Black_Scholes_1 = mean_absolute_error(dataset_full_1['Last Price'], dataset_full_1['Black_Scholes'])
MAPE_Black_Scholes_1 = mean_absolute_percentage_error(dataset_full_1['Last Price'], dataset_full_1['Black_Scholes'])

In [24]:
MSE_Black_Scholes, MAE_Black_Scholes, MAPE_Black_Scholes

(4680.7717917572145, 17.661235600274306, 0.3347803641048493)

In [25]:
MSE_Black_Scholes_1, MAE_Black_Scholes_1, MAPE_Black_Scholes_1

(136866.49673087063, 233.72469215088142, 15.615540620862985)

In [26]:
X_1 = dataset_full_1[['Stock_price', 'Strike', 'Time_to_maturity', 'Option_price_volatility']]
y_1 = dataset_full_1[['Last Price']]

In [27]:
model1 = LinearRegression()
model1.fit(X_1, y_1)
y_pred_1 = model.predict(X_1)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Option_price_volatility
Feature names seen at fit time, yet now missing:
- Implied Volatility

  warnings.warn(message, FutureWarning)

In [28]:
MSE_linreg_resticted_1 = mean_squared_error(y_1, y_pred_1)
MAE_linreg_resticted_1 = mean_absolute_error(y_1, y_pred_1)
MAPE_linreg_resticted_1 = mean_absolute_percentage_error(y_1, y_pred_1)

In [29]:
MSE_linreg_resticted, MAE_linreg_resticted, MAPE_linreg_resticted

(12376.595065173386, 57.50104432815472, 88.73263613336022)

In [30]:
MSE_linreg_resticted_1, MAE_linreg_resticted_1, MAPE_linreg_resticted_1

(828244.6633282859, 445.0133289640542, 131.9923424449159)

# Check time required for inference (predictions on new data)

In [36]:
X_test = X_1.sample(frac=.1)
X_test.index = np.arange(0, len(X_test))
X_test

        Stock_price  Strike  Time_to_maturity  Option_price_volatility
0         59.790001   73.33          0.775342                 0.148242
1        822.789978  175.00          0.131507                60.395732
2        199.399994  235.00          0.084932                 0.893094
3        380.480011  310.00          0.008219                 0.000000
4        506.739990  450.00          0.082192                 7.868721
...             ...     ...               ...                      ...
116794   117.349998  145.00          1.200000                 1.518445
116795   417.880005  355.00          1.709589                 5.915196
116796   404.059998  240.00          0.164384                 7.908116
116797   283.170013  355.00          0.315068                 0.019612
116798    57.700001   30.00          1.827397                 2.398887

[116799 rows x 4 columns]

In [37]:
%%time
# Time for Linear Regression
model1.predict(X_test)

CPU times: user 6.59 ms, sys: 7.36 ms, total: 13.9 ms
Wall time: 12.4 ms

array([[ 26.53051121],
       [354.11009701],
       [ 20.43388553],
       ...,
       [ 93.35800926],
       [ 28.23629274],
       [ 68.83547579]])

In [38]:
%%time
# Time for Black-Scholes
X_test['Black_Scholes'] = 0
for i in range(len(X_test)):
    X_test['Black_Scholes'][i] = blackScholes(r=0.04, S=X_test['Stock_price'][i],
                                                   K=X_test['Strike'][i], 
                                                    T=X_test['Time_to_maturity'][i],
                                                   sigma=X_test['Option_price_volatility'][i])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.

CPU times: user 20.5 s, sys: 83.9 ms, total: 20.6 s
Wall time: 20.6 s

# Conclusions

+ Implied volatility is a data leakage for Black-Scholes formula, since it is calculated either using Black-Scholes or a quite similar model.


+ Black-Scholes model is less consistent in terms of changing the way volatility is calculated.


+ Black-Scholes formula beats Linear Regression on the same set of features.


+ However, we need additional features to test the power of Linear Regression (and other Machine Learning methods).

In [69]:
dataset_full_1.to_csv('5_Fair_volatility_data.csv', index=None)